## Importing Datasets

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# df_X_OR = Data Frame Company X - Order Report
df_X_OR = pd.read_excel('./Datasets/Company X - Order Report.xlsx')

# df_X_PZ = Data Frame Company X - Pincode Zones
df_X_PZ = pd.read_excel('./Datasets/Company X - Pincode Zones.xlsx')

# df_X_SKU_M = Data Frame Company X - SKU Master
df_X_SKU_M =pd.read_excel('./Datasets/Company X - SKU Master.xlsx')

# df_CC_I = Data Frame Courier Company - Invoice
df_CC_I = pd.read_excel('./Datasets/Courier Company - Invoice.xlsx')

# df_X_OR = Data  Frame Courier Company - Rates
df_CC_R = pd.read_excel('./Datasets/Courier Company - Rates.xlsx')

## Creating Data Frame for Column 3 and 4 output

In [3]:
df_X_OR
Company_X_df = pd.merge(df_X_OR,df_X_SKU_M,on='SKU')
# converting 'Weight' from float to int
Company_X_df['Weight_calculated'] = Company_X_df['Order Qty'] * Company_X_df['Weight (g)']

DF_1 = Company_X_df.groupby('ExternOrderNo')['Weight_calculated'].sum().reset_index()
DF_1['Weight_calculated'] = DF_1['Weight_calculated'].astype(int)
DF_1['Weight (kg)'] = DF_1['Weight_calculated'] / 1000
DF_1['Weight (kg)']= DF_1['Weight (kg)'].round(decimals = 1)
DF_1

# Total weight as per X (KG)
DF_1 = DF_1.rename(columns={'ExternOrderNo':'Order ID','Weight (kg)':'Total weight as per X (KG)'})
DF_1

       Order ID  Weight_calculated  Total weight as per X (KG)
0    2001806210                220                         0.2
1    2001806226                480                         0.5
2    2001806229                500                         0.5
3    2001806232               1302                         1.3
4    2001806233                245                         0.2
..          ...                ...                         ...
119  2001821995                477                         0.5
120  2001822466               1376                         1.4
121  2001823564                672                         0.7
122  2001825261               1557                         1.6
123  2001827036               2176                         2.2

[124 rows x 3 columns]

In [4]:

import math

# function to round off Wt Slab as per X
def round_up_to_nearest_half_int(num):
    return math.ceil(num * 2) / 2

1.5
2.5

In [5]:
DF_1['Weight slab as per X (KG)'] = DF_1['Total weight as per X (KG)'].apply(round_up_to_nearest_half_int)

In [6]:

# Company_X_df = pd.merge(df_X_OR,df_X_SKU_M,on='SKU')
DF_1 = pd.merge(DF_1,df_CC_I['AWB Code'],on=DF_1['Order ID'])
DF_1

,key_0,Order ID,Weight_calculated,Total weight as per X (KG),Weight slab as per X (KG),AWB Code
0,2001806210,2001806210,220,0.2,0.5,1091117222124
1,2001806226,2001806226,480,0.5,0.5,1091117222194
2,2001806229,2001806229,500,0.5,0.5,1091117222931
3,2001806232,2001806232,1302,1.3,1.5,1091117223244
4,2001806233,2001806233,245,0.2,0.5,1091117229345
...,...,...,...,...,...,...
119,2001821995,2001821995,477,0.5,0.5,1091118551656
120,2001822466,2001822466,1376,1.4,1.5,1091117614452
121,2001823564,2001823564,672,0.7,1.0,1091120922803
122,2001825261,2001825261,1557,1.6,2.0,1091121844806
123,2001827036,2001827036,2176,2.2,2.5,1091121846136

In [7]:
DF_1=DF_1.drop(columns='key_0',axis=1)

In [8]:

# re ordering the sequence of columns 
# DF_1.iloc[:,[0,3,1,2,4]]
# DF_1=DF_1.drop(columns='Weight_calculated',axis=1)
DF_1=DF_1.iloc[:,[0,2,3,1]]
DF_1

,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Weight_calculated
0,2001806210,0.2,0.5,220
1,2001806226,0.5,0.5,480
2,2001806229,0.5,0.5,500
3,2001806232,1.3,1.5,1302
4,2001806233,0.2,0.5,245
...,...,...,...,...
119,2001821995,0.5,0.5,477
120,2001822466,1.4,1.5,1376
121,2001823564,0.7,1.0,672
122,2001825261,1.6,2.0,1557
123,2001827036,2.2,2.5,2176

## Creating Data Frame for Column 5 and 6 output

In [9]:
DF_2 = df_CC_I.iloc[:,[1,2]]
DF_2['Charged Weight'] = DF_2['Charged Weight'].round(decimals=1)

DF_2['Weight slab charged by Courier Company (KG)'] = DF_2['Charged Weight'].apply(round_up_to_nearest_half_int)
DF_2

C:\Users\lenovo\AppData\Local\Temp/ipykernel_16296/3510049829.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_2['Charged Weight'] = DF_2['Charged Weight'].round(decimals=1)
C:\Users\lenovo\AppData\Local\Temp/ipykernel_16296/3510049829.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_2['Weight slab charged by Courier Company (KG)'] = DF_2['Charged Weight'].apply(round_up_to_nearest_half_int)

       Order ID  Charged Weight  Weight slab charged by Courier Company (KG)
0    2001806232             1.3                                          1.5
1    2001806273             1.0                                          1.0
2    2001806408             2.5                                          2.5
3    2001806458             1.0                                          1.0
4    2001807012             0.2                                          0.5
..          ...             ...                                          ...
119  2001812941             0.7                                          1.0
120  2001809383             0.5                                          0.5
121  2001820978             0.5                                          0.5
122  2001811475             0.5                                          0.5
123  2001811305             0.5                                          0.5

[124 rows x 3 columns]

In [10]:
DF_2
DF_2.rename(columns={'Charged Weight':'Total weight as per Courier Company (KG)'})

,Order ID,Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG)
0,2001806232,1.3,1.5
1,2001806273,1.0,1.0
2,2001806408,2.5,2.5
3,2001806458,1.0,1.0
4,2001807012,0.2,0.5
...,...,...,...
119,2001812941,0.7,1.0
120,2001809383,0.5,0.5
121,2001820978,0.5,0.5
122,2001811475,0.5,0.5
123,2001811305,0.5,0.5

## Creating Data Frame for Column 7 and 8 output

In [11]:
DF_3=df_CC_I.iloc[:,[1,3,4,5,]]
DF_3=DF_3.rename(columns={'Zone':'Delivery Zone charged by Courier Company'})
DF_3
# df_CC_I

,Order ID,Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company
0,2001806232,121003,507101,d
1,2001806273,121003,486886,d
2,2001806408,121003,532484,d
3,2001806458,121003,143001,b
4,2001807012,121003,515591,d
...,...,...,...,...
119,2001812941,121003,325207,d
120,2001809383,121003,303702,d
121,2001820978,121003,313301,d
122,2001811475,121003,173212,b
123,2001811305,121003,302020,d

In [12]:


DF_3 = pd.merge(DF_3,df_X_PZ,on=[DF_3['Warehouse Pincode'],DF_3['Customer Pincode']])

In [13]:
DF_3=DF_3.drop(columns=['key_0','key_1','Warehouse Pincode_y','Customer Pincode_y'],axis=1)

In [14]:
DF_3 = DF_3.rename(columns={'Zone':'Delivery Zone as per X'})
DF_3 = DF_3.drop(columns=['Warehouse Pincode_x','Customer Pincode_x'],axis=1)

In [15]:
DF_3 = DF_3.iloc[:,[0,2,1]]
DF_3

,Order ID,Delivery Zone as per X,Delivery Zone charged by Courier Company
0,2001806232,d,d
1,2001806273,d,d
2,2001806408,d,d
3,2001806458,b,b
4,2001807012,d,d
...,...,...,...
169,2001811305,b,d
170,2001811305,b,d
171,2001812941,b,d
172,2001809383,b,d
173,2001820978,b,d

## Creating Data Frame for COlumn 9 , 10 and 11

In [16]:
DF_4 = df_CC_I
DF_4 = DF_4.iloc[:,[1,6,7]]
# DF_4 = pd.merge(test,,on=DF_3['Order ID'])
# DF_4 = pd.merge(DF_4,DF_3['Delivery Zone as per X'],on=DF_4['Order ID'])
DF_4 = pd.merge(DF_4,DF_3,on="Order ID")

In [17]:

DF_4 = DF_4.drop(columns=['Delivery Zone charged by Courier Company','Billing Amount (Rs.)'],axis=1)

In [18]:
import numpy as np 

# In order to fill appropriate delivery charges based on the type of delivery


fwd_fixed_conditions = [
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='a'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='b'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='c'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='d'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='e')
]
# fwd_fixed_values=[45.4]
fwd_fixed_values =[29.5,33,40.1,45.4,56.6]

# ---------------------------------------------------------------------------------------------------------

fwd_additional_conditions = [
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='a'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='b'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='c'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='d'),
    (DF_4['Type of Shipment'] == 'Forward charges') & (DF_4['Delivery Zone as per X']=='e')
]
# fwd_fixed_values=[45.4]
fwd_additional_values =[23.6,28.3,38.9,44.8,55.5]


# ---------------------------------------------------------------------------------------------------------



rto_fixed_conditions = [
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='a'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='b'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='c'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='d'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='e')
]
# fwd_fixed_values=[45.4]
rto_fixed_values =[13.6,20.5,31.9,41.3,50.7]


# ---------------------------------------------------------------------------------------------------------


rto_additional_conditions = [
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='a'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='b'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='c'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='d'),
    (DF_4['Type of Shipment'] == 'Forward and RTO charges') & (DF_4['Delivery Zone as per X']=='e')
]
# fwd_fixed_values=[45.4]
rto_additional_values =[23.6,28.3,38.9,44.8,55.5]





DF_4['fwd_fixed'] = np.select(fwd_fixed_conditions,fwd_fixed_values,default=0)
DF_4['fwd_additional'] = np.select(fwd_additional_conditions,fwd_additional_values,default=0)
DF_4['rto_fixed'] = np.select(rto_fixed_conditions,rto_fixed_values,default=0)
DF_4['rto_additional'] = np.select(rto_additional_conditions,rto_additional_values,default=0)

In [19]:

DF_4.tail(8)

,Order ID,Type of Shipment,Delivery Zone as per X,fwd_fixed,fwd_additional,rto_fixed,rto_additional
166,2001812195,Forward charges,b,33.0,28.3,0.0,0.0
167,2001812941,Forward charges,b,33.0,28.3,0.0,0.0
168,2001809383,Forward and RTO charges,b,0.0,0.0,20.5,28.3
169,2001820978,Forward charges,b,33.0,28.3,0.0,0.0
170,2001811475,Forward charges,e,56.6,55.5,0.0,0.0
171,2001811475,Forward charges,e,56.6,55.5,0.0,0.0
172,2001811305,Forward charges,b,33.0,28.3,0.0,0.0
173,2001811305,Forward charges,b,33.0,28.3,0.0,0.0

In [20]:
DF_4 = pd.merge(DF_4,DF_1,on='Order ID')
# DF_2
DF_4 = DF_4.drop(columns=['Total weight as per X (KG)','Weight_calculated'],axis=1)
DF_4.tail(10)

,Order ID,Type of Shipment,Delivery Zone as per X,fwd_fixed,fwd_additional,rto_fixed,rto_additional,Weight slab as per X (KG)
164,2001811306,Forward charges,b,33.0,28.3,0.0,0.0,1.0
165,2001812195,Forward charges,b,33.0,28.3,0.0,0.0,0.5
166,2001812195,Forward charges,b,33.0,28.3,0.0,0.0,0.5
167,2001812941,Forward charges,b,33.0,28.3,0.0,0.0,0.5
168,2001809383,Forward and RTO charges,b,0.0,0.0,20.5,28.3,1.0
169,2001820978,Forward charges,b,33.0,28.3,0.0,0.0,0.5
170,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0
171,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0
172,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0
173,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0

In [21]:

def sample_function(row):
    cost=0
  

    counter = row['Weight_slab_metric']
    # if counter == 1 :
    if counter == 1 & bool(row['Type of Shipment']=='Forward charges'):

        cost = row['fwd_fixed']
        status = bool(row['Type of Shipment']=='Forward charges')
        # print()
        return cost


    elif counter == 1 &  bool(row['Type of Shipment']=='Forward and RTO charges'):

        cost = row['rto_fixed']
        return cost

    elif counter > 1 & bool(row['Type of Shipment']=='Forward charges'):
    
        cost_a=0
        cost_b=0
        final_cost=0
        cost_a = row['fwd_fixed']
        cost_b = row['fwd_additional'] * (counter-1)
        final_cost= cost_a + cost_b
        return final_cost

    else:

        cost_a=0
        cost_b=0
        final_cost=0
        cost_a = row['rto_fixed']
        cost_b = row['rto_additional'] * (counter-1)
        final_cost = cost_a + cost_b
        return final_cost

In [22]:
# weight SLab Metric is used for computation of additional and fixed cost 
DF_4['Weight_slab_metric'] = DF_4['Weight slab as per X (KG)']/0.5

DF_4['Expected Charge as per X (Rs.)'] =  DF_4.apply(sample_function,axis=1)

DF_4

,Order ID,Type of Shipment,Delivery Zone as per X,fwd_fixed,fwd_additional,rto_fixed,rto_additional,Weight slab as per X (KG),Weight_slab_metric,Expected Charge as per X (Rs.)
0,2001806232,Forward charges,d,45.4,44.8,0.0,0.0,1.5,3.0,135.0
1,2001806273,Forward charges,d,45.4,44.8,0.0,0.0,1.0,2.0,90.2
2,2001806408,Forward charges,d,45.4,44.8,0.0,0.0,2.5,5.0,224.6
3,2001806458,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3
4,2001807012,Forward charges,d,45.4,44.8,0.0,0.0,0.5,1.0,45.4
...,...,...,...,...,...,...,...,...,...,...
169,2001820978,Forward charges,b,33.0,28.3,0.0,0.0,0.5,1.0,33.0
170,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1
171,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1
172,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3
173,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3

In [23]:
# adding Charges biulled by Courier Service 
charges_built_by_courier = df_CC_I
charges_built_by_courier = charges_built_by_courier.drop(columns=['Charged Weight','Warehouse Pincode','Customer Pincode','Zone','Type of Shipment'])
charges_built_by_courier

          AWB Code    Order ID  Billing Amount (Rs.)
0    1091117222124  2001806232                 135.0
1    1091117222194  2001806273                  90.2
2    1091117222931  2001806408                 224.6
3    1091117223244  2001806458                  61.3
4    1091117229345  2001807012                  45.4
..             ...         ...                   ...
119  1091118551656  2001812941                  90.2
120  1091117614452  2001809383                  86.7
121  1091120922803  2001820978                  45.4
122  1091121844806  2001811475                  33.0
123  1091121846136  2001811305                  45.4

[124 rows x 3 columns]

In [24]:
DF_5 = pd.merge(DF_4,charges_built_by_courier,on='Order ID')


DF_5

,Order ID,Type of Shipment,Delivery Zone as per X,fwd_fixed,fwd_additional,rto_fixed,rto_additional,Weight slab as per X (KG),Weight_slab_metric,Expected Charge as per X (Rs.),AWB Code,Billing Amount (Rs.)
0,2001806232,Forward charges,d,45.4,44.8,0.0,0.0,1.5,3.0,135.0,1091117222124,135.0
1,2001806273,Forward charges,d,45.4,44.8,0.0,0.0,1.0,2.0,90.2,1091117222194,90.2
2,2001806408,Forward charges,d,45.4,44.8,0.0,0.0,2.5,5.0,224.6,1091117222931,224.6
3,2001806458,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091117223244,61.3
4,2001807012,Forward charges,d,45.4,44.8,0.0,0.0,0.5,1.0,45.4,1091117229345,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001820978,Forward charges,b,33.0,28.3,0.0,0.0,0.5,1.0,33.0,1091120922803,45.4
170,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1,1091121844806,33.0
171,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1,1091121844806,33.0
172,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091121846136,45.4
173,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091121846136,45.4

In [25]:
DF_5

,Order ID,Type of Shipment,Delivery Zone as per X,fwd_fixed,fwd_additional,rto_fixed,rto_additional,Weight slab as per X (KG),Weight_slab_metric,Expected Charge as per X (Rs.),AWB Code,Billing Amount (Rs.)
0,2001806232,Forward charges,d,45.4,44.8,0.0,0.0,1.5,3.0,135.0,1091117222124,135.0
1,2001806273,Forward charges,d,45.4,44.8,0.0,0.0,1.0,2.0,90.2,1091117222194,90.2
2,2001806408,Forward charges,d,45.4,44.8,0.0,0.0,2.5,5.0,224.6,1091117222931,224.6
3,2001806458,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091117223244,61.3
4,2001807012,Forward charges,d,45.4,44.8,0.0,0.0,0.5,1.0,45.4,1091117229345,45.4
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001820978,Forward charges,b,33.0,28.3,0.0,0.0,0.5,1.0,33.0,1091120922803,45.4
170,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1,1091121844806,33.0
171,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1,1091121844806,33.0
172,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091121846136,45.4
173,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091121846136,45.4

In [26]:
DF_5['Difference Between Expected Charges and Billed Charges (Rs.)'] = round((DF_5['Expected Charge as per X (Rs.)'] - DF_5['Billing Amount (Rs.)']),2)

In [27]:
DF_5

,Order ID,Type of Shipment,Delivery Zone as per X,fwd_fixed,fwd_additional,rto_fixed,rto_additional,Weight slab as per X (KG),Weight_slab_metric,Expected Charge as per X (Rs.),AWB Code,Billing Amount (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,Forward charges,d,45.4,44.8,0.0,0.0,1.5,3.0,135.0,1091117222124,135.0,0.0
1,2001806273,Forward charges,d,45.4,44.8,0.0,0.0,1.0,2.0,90.2,1091117222194,90.2,-0.0
2,2001806408,Forward charges,d,45.4,44.8,0.0,0.0,2.5,5.0,224.6,1091117222931,224.6,0.0
3,2001806458,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091117223244,61.3,0.0
4,2001807012,Forward charges,d,45.4,44.8,0.0,0.0,0.5,1.0,45.4,1091117229345,45.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001820978,Forward charges,b,33.0,28.3,0.0,0.0,0.5,1.0,33.0,1091120922803,45.4,-12.4
170,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1,1091121844806,33.0,79.1
171,2001811475,Forward charges,e,56.6,55.5,0.0,0.0,1.0,2.0,112.1,1091121844806,33.0,79.1
172,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091121846136,45.4,15.9
173,2001811305,Forward charges,b,33.0,28.3,0.0,0.0,1.0,2.0,61.3,1091121846136,45.4,15.9

## Combining the above created dataframes into 1 dataframe

In [28]:
df_1_final =DF_1.drop(columns='Weight_calculated',axis=1)
df_1_final

       Order ID  Total weight as per X (KG)  Weight slab as per X (KG)
0    2001806210                         0.2                        0.5
1    2001806226                         0.5                        0.5
2    2001806229                         0.5                        0.5
3    2001806232                         1.3                        1.5
4    2001806233                         0.2                        0.5
..          ...                         ...                        ...
119  2001821995                         0.5                        0.5
120  2001822466                         1.4                        1.5
121  2001823564                         0.7                        1.0
122  2001825261                         1.6                        2.0
123  2001827036                         2.2                        2.5

[124 rows x 3 columns]

In [29]:
df_2_final =DF_2.rename(columns={'Charged Weight':'Total weight as per Courier Company (KG)'})
df_2_final

,Order ID,Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG)
0,2001806232,1.3,1.5
1,2001806273,1.0,1.0
2,2001806408,2.5,2.5
3,2001806458,1.0,1.0
4,2001807012,0.2,0.5
...,...,...,...
119,2001812941,0.7,1.0
120,2001809383,0.5,0.5
121,2001820978,0.5,0.5
122,2001811475,0.5,0.5
123,2001811305,0.5,0.5

In [30]:
# inner join
merge1= pd.merge(df_1_final, df_2_final, on='Order ID', how='inner')
merge1

,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG)
0,2001806210,0.2,0.5,2.9,3.0
1,2001806226,0.5,0.5,0.7,1.0
2,2001806229,0.5,0.5,0.7,1.0
3,2001806232,1.3,1.5,1.3,1.5
4,2001806233,0.2,0.5,0.8,1.0
...,...,...,...,...,...
119,2001821995,0.5,0.5,0.5,0.5
120,2001822466,1.4,1.5,1.1,1.5
121,2001823564,0.7,1.0,0.7,1.0
122,2001825261,1.6,2.0,1.6,2.0
123,2001827036,2.2,2.5,1.6,2.0

In [31]:
df_3_final = DF_3
df_3_final = pd.merge(merge1,df_3_final,on='Order ID',how='inner')
df_3_final

,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company
0,2001806210,0.2,0.5,2.9,3.0,b,b
1,2001806226,0.5,0.5,0.7,1.0,d,d
2,2001806229,0.5,0.5,0.7,1.0,d,d
3,2001806232,1.3,1.5,1.3,1.5,d,d
4,2001806233,0.2,0.5,0.8,1.0,b,b
...,...,...,...,...,...,...,...
169,2001821995,0.5,0.5,0.5,0.5,b,d
170,2001822466,1.4,1.5,1.1,1.5,b,d
171,2001823564,0.7,1.0,0.7,1.0,d,d
172,2001825261,1.6,2.0,1.6,2.0,d,d
173,2001827036,2.2,2.5,1.6,2.0,e,b

In [32]:


temp_df_1 = DF_4[['Order ID', 'Expected Charge as per X (Rs.)']].copy()
temp_df_1

temp_df_2 = df_CC_I[['Order ID','Billing Amount (Rs.)','AWB Code']].copy()
temp_df_2

df_4_final = pd.merge(temp_df_1,temp_df_2,on='Order ID',how="inner")
df_4_final

,Order ID,Expected Charge as per X (Rs.),Billing Amount (Rs.),AWB Code
0,2001806232,135.0,135.0,1091117222124
1,2001806273,90.2,90.2,1091117222194
2,2001806408,224.6,224.6,1091117222931
3,2001806458,61.3,61.3,1091117223244
4,2001807012,45.4,45.4,1091117229345
...,...,...,...,...
169,2001820978,33.0,45.4,1091120922803
170,2001811475,112.1,33.0,1091121844806
171,2001811475,112.1,33.0,1091121844806
172,2001811305,61.3,45.4,1091121846136
173,2001811305,61.3,45.4,1091121846136

In [33]:
FINAL_DATAFRAME = pd.merge(df_3_final,df_4_final,on='Order ID',how='inner')
FINAL_DATAFRAME

,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Billing Amount (Rs.),AWB Code
0,2001806210,0.2,0.5,2.9,3.0,b,b,33.0,174.5,1091117221940
1,2001806226,0.5,0.5,0.7,1.0,d,d,45.4,90.2,1091117222065
2,2001806229,0.5,0.5,0.7,1.0,d,d,45.4,90.2,1091117222080
3,2001806232,1.3,1.5,1.3,1.5,d,d,135.0,135.0,1091117222124
4,2001806233,0.2,0.5,0.8,1.0,b,b,33.0,61.3,1091117222135
...,...,...,...,...,...,...,...,...,...,...
353,2001821995,0.5,0.5,0.5,0.5,b,d,33.0,45.4,1091121183730
354,2001822466,1.4,1.5,1.1,1.5,b,d,89.6,135.0,1091121305541
355,2001823564,0.7,1.0,0.7,1.0,d,d,0.0,172.8,1091121666133
356,2001825261,1.6,2.0,1.6,2.0,d,d,0.0,345.0,1091121981575
357,2001827036,2.2,2.5,1.6,2.0,e,b,278.6,117.9,1091122418320

In [34]:
FINAL_DATAFRAME['Difference Between Expected Charges and Billed Charges (Rs.)'] = FINAL_DATAFRAME['Expected Charge as per X (Rs.)'] - FINAL_DATAFRAME['Billing Amount (Rs.)']

In [35]:
# FINAL_DATAFRAME=FINAL_DATAFRAME.iloc[:, [0,9,1,2,3,4,5,6,7,8,10]]

FINAL_DATAFRAME = FINAL_DATAFRAME[['Order ID', 'AWB Code', 'Total weight as per X (KG)', 'Weight slab as per X (KG)', 'Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Expected Charge as per X (Rs.)','Billing Amount (Rs.)','Difference Between Expected Charges and Billed Charges (Rs.)']]
FINAL_DATAFRAME = FINAL_DATAFRAME.rename(columns={'AWB Code':'AWB Number'})
FINAL_DATAFRAME

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Billing Amount (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,0.2,0.5,2.9,3.0,b,b,33.0,174.5,-141.5
1,2001806226,1091117222065,0.5,0.5,0.7,1.0,d,d,45.4,90.2,-44.8
2,2001806229,1091117222080,0.5,0.5,0.7,1.0,d,d,45.4,90.2,-44.8
3,2001806232,1091117222124,1.3,1.5,1.3,1.5,d,d,135.0,135.0,0.0
4,2001806233,1091117222135,0.2,0.5,0.8,1.0,b,b,33.0,61.3,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
353,2001821995,1091121183730,0.5,0.5,0.5,0.5,b,d,33.0,45.4,-12.4
354,2001822466,1091121305541,1.4,1.5,1.1,1.5,b,d,89.6,135.0,-45.4
355,2001823564,1091121666133,0.7,1.0,0.7,1.0,d,d,0.0,172.8,-172.8
356,2001825261,1091121981575,1.6,2.0,1.6,2.0,d,d,0.0,345.0,-345.0
357,2001827036,1091122418320,2.2,2.5,1.6,2.0,e,b,278.6,117.9,160.7

## Exporting the Data Frame into an excel sheet

In [36]:


FINAL_DATAFRAME.to_excel("Results.xlsx",
             sheet_name='Calculations')

PermissionError: [Errno 13] Permission denied: 'Results.xlsx'